*{
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
}

nav{
    min-height: 50px;
    background-color: #212121;
}

.menu{
    display: flex;
    justify-content: space-between ;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu__link{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu__item{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader{
    position: absolute;
    width: 100%;
    height: 83px;
    background-color: rgba(0, 0, 0, .6); 
}

.subheader .subheader__logo{
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader__logo-text{
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.5;
}
.subheader .subheader__call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: right;
}

.subheader .subheader__number{
    display: block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: right;
    line-height: 12px ;
  }
  
.subheader .subheader__btn, .promo .promo__btn{

    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff 100%);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    
}

.promo{
    min-height: 800px;
    background: url(../img/mainBG.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo__header{
    font-size: 60px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.promo .promo__subheader{
    font-size: 36px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 22px;
}

.promo .promo__descr{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    margin-top: 23px;
}

.promo .promo__btn{
    display: block;
    margin: 118px auto 0 auto;
}

.label{
    display: flex;
    margin: 71px auto 0 auto;
    background-color: rgb(0, 0, 0);
    font-size: 11px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 24px;
}
  

.title{
    margin: 38px 0 0 0;
    font-size: 38px;
    color: rgb(34, 34, 34);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .eight-reasons .eight-reasons__item{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
}

  

.eight-reasons .eight-reasons__item .eight-reasons__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    min-width: 113px;
    height: 113px;
    border-radius: 100%;
    background-color: rgb(30, 172, 199);
}

.eight-reasons .eight-reasons__item .reasons__descr {
    width: 343px;
}

.eight-reasons .eight-reasons__item .eight-reasons__descr .eight-reasons__subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.eight-reasons .eight-reasons__item .eight-reasons__descr .eight-reasons__text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
  